In [13]:
#write a sql program to find the avg salary of each department gievn employee table and department table :

#employeee table:


EmployeeID	Name	        Age  DepartmentID	Salary
1        	John Doe	30	1	        90000
2       	Jane Doe	34	2	        80000
3       	Jim Beam	40	1	        95000
4        	Jack Reacher	28	3	        60000
5       	Jill Stein	35	2	        72000
 
 #department table
DepartmentID	DepartmentName
1	            IT
2	            HR
3              	Marketing



# SELECT  AVG(Salary)  from Employeetable 
# INNER join DepartmentID	DepartmentName Salary
# ON EMPLOYEE_Table.DepartmentID=DEPT_Table


#  SELECT DepartmentID	from EMP_Table
# where ASC(Salary)

 
EmployeeID	Name	        Age  DepartmentID	Salary
1        	John Doe	30	1	        90000
2       	Jane Doe	34	2	        80000
3       	Jim Beam	40	1	        95000
4        	Jack Reacher	28	3	        60000
5       	Jill Stein	35	2	        72000
 
 
DepartmentID	DepartmentName
1	            IT
2	            HR
3              	Marketing


#wap to get thedepatmnt id which i having the  highest salry 
a)select EmployeeID, OrderID from Orders where OrderID=(select max(OrderID) from Orders);
SELECT  AVG(Salary)  from Employeetable 
INNER join DepartmentID	DepartmentName Salary
ON EMPLOYEE_Table.DepartmentID=DEPT_Table


 SELECT DepartmentID	from EMP_Table
where ASC(Salary)

Please enter an integer:8878
the entered number is : 8878
After reversing  8788

In [14]:
#using slicing operator---------------**
def reverse_number(number):
    num_list=list(str(number))
    reversed_num=int(''.join(num_list[::-1]))
    return reversed_num

original_number=int(input("please enter a number:"))
result=reverse_number(original_number)
print("original number:",original_number)
print("after reversing:",result)

please enter a number:68798
original number: 68798
after reversing: 89786

In [ ]:
#python program to determine  whether the number is a Armstrng number or not
#function to calculate x raised  to raised to power of y

def power(x,y):
  if y==0:
    return 1
  if y%2==0:
    return power(x,y//2)*power(x,y//2)
  return x*power(x,y//2)*power(x,y//2)

#Function to calculate order of the number
def order(x):
  #variable to store of the number
  n=0
  while(x!=0):
    n=n+1
    x=x//10
  return n

#function to check whether the given number is a amstrong or not :
def isArmstrong(x):
  n=order(x)
  temp=x
  sum1=0
  while(temp!=0):
    r=temp%10
    sum1=sum1+power(r,n)
    temp=temp//10
  #if condition satisfies
  return (sum1==x)

#Driver code:
x=153
print(isArmstrong(x))
x=1253
print(isArmstrong(x))
#153=1*1*1+5*5*5+3*3*3//153 is a armstrong number
#120 is not a Armstrong number.1*1*1 + 2*2*2 + 0*0*0 = 9

In [26]:
#Prime Number Program in Python with Explanation
num=4

if num >1:
  for i in range(2,int(num/2)+1):

    if (num%i)==0:
      print(num,"is not prime")
      break
  else:
      print(num,"is prime")
else:
  print(num,"is not prime")

4 is not prime

In [28]:
def fibonacci(n):
  l=[0,1]
  for i in range(2,n):
    l.append(l[-1]+l[-2])
  return l
#Main function
if __name__=="__main__":
  #defning total numer of elements:
  n=10
  #calling the fibonacci function
  fibo=fibonacci(n)
  #displaying the function
  print("fibonacci Series:",*fibo)

fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [ ]:
#numner palindrome or not
num=input("Please enter a number:")
if num==num[::-1]:
  print("yes it is sa palindrome")
else:
  print("no it is not a palindrome")

In [30]:
#Python program to remove given character from String.
def remove_char(s1,s2):
  #string.replace(oldvalue, newvalue, count)
  print(s1.replace(s2,''))
s1=input("Please give a string:")
s2=input("Please give a character to remove:")
remove_char(s1,s2)

Please give a string:hgajhskj
Please give a character to remove:h
gajskj

In [31]:
#Python Program to count occurrence of a given characters in string.----****

string=input("please enter  a string:")
char=input("Please enter a Character:")
count=0
for i in range(len(string)):
  if (string[i]==char):
    count+=1
print("Total number of occurances of ",char,"is:",count)

please enter  a string:hdgihruhirjjaioa
Please enter a Character:h
Total number of occurances of  h is: 3

In [33]:
#Python Program to check if two Strings are Anagram.


def anagram(str1,str2):
  if (sorted(str1)==sorted(str2)):
    return True
  else:
    return False
string1=input("please eenter a strng:")
string2=input("please enter a strng2:")
anagram(string1,string2)

please eenter a strng:abc
please enter a strng2:cba

True

In [ ]:
##II

Input: nums = [2,7,11,15], target = 9
Output: [0,1]


##my written ans:
# l1= [2,7,11,15]
# target = 
# for i in range(len(l1)+1):
#   #print(l1[i],l1[i+1])
#   if l1[i]+l1[i+1]==target:
#     print("target is sum of :",i,i+1)
#     break
#     i+=1
#   else:
#     #print("target  not matching")
#     pass

In [ ]:
##I
Find the Missing Number in a List 
Write a Python function that takes a list of consecutive numbers (except one missing number) as input and returns the missing number. 
Example:
find_missing([1, 2, 3, 4, 6, 7, 8, 9, 10]) => 5



# #My ans:
# l=[1, 2, 3, 4,5, 6, 7, 8,10]
# l1=max(l)
# for i in range(1,11):
#   #print(i,l[i-1])
#   if l[i-1]==i:
#     #print("No itemis missing")
#     i+=1
#   else:
#     print(i , "is missing")
#     i+=1
#     break

In [ ]:
#I

#WAP for reversing a string 
# str='hello'
# str=list(str)
# str=str[::-1]
# str=''.join(str)
# print(str)
#a)olleh
#I
#WAP for dfining clas and and functions
# class hello:
#   def f1(self):
#     print("in f1")
#   def f2(self):
#     print("in f2")
# a=1
# hello.f2(a)
#a)in f2

In [ ]:
#I
#WAP to find the sum of elements of a list

my_list=[1,2,3,4,6,7,8,9]
print("The give list is :"my_list)
sum=0
for i in range(len(my_list)):
    sum=sum+my_list[i]
    i+=1
print("The sum of teh given list is :",sum)
# The give list is : [1, 2, 3, 4, 6, 7, 8, 9]
# The sum of teh given list is : 40

In [ ]:
#I(TECHM)
#WAP for getting the alternate letter  in a string
string="Hi today is sunday"
print(string[::2])
#a)hlotdyi udy

In [ ]:
a=lambda x,y:x*y
print(a(7,8))

In [ ]:
#I

# Python prog to illustrate the following in a list
def find_len(list1):
    length = len(list1)
    list1.sort()
    print("Largest element is:", list1[length-1])
    print("Smallest element is:", list1[0])
    print("Second Largest element is:", list1[length-2])
    print("Second Smallest element is:", list1[1])
 
# Driver Code
list1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
Largest = find_len(list1)

In [ ]:


# Python code to count and display number of vowels
# Simply using for and comparing it with a 
# string containing all vowels
def Check_Vow(string, vowels):
    final = [each for each in string if each in vowels]
    print(len(final))
    print(final)
     
# Driver Code
string = "Geeks for Geeks"
vowels = "AaEeIiOoUu"
Check_Vow(string, vowels);